---
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import "../styles/style.css"
import "../utils/date.extensions"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalUrl} />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={new URL("/ogp.png", Astro.site)} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
